.Card {
  display: flex;
  align-items: center;
  align-items: stretch;
  >div:last-child {
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 300px;
    > * {
      color: #fff;
    }
  }
}
